<div class="grid">
<div class="hero-title">
  <h2>Flash Card App</h2>
</div>

<% if (cards.length > 0) { %>
<div class="edit-card-container">
  <% cards.forEach(function(card) { %>
      <div class="edit-card" data-id="<%= card.card_id %>">
          <div class="edit-front">
              <h2><%= card.front_text %></h2>
          </div>
          <div class="edit-back">
              <h2><%= card.back_text %></h2>
          </div>
      </div>
  <% }); %>
</div>

<div class="flash-card-actions">
  <button class="edit-button">Edit</button>
  <button class="delete-button">Delete</button>
</div>

<div class="arrows">
  <button class="left-arrow"><span>&#x2190;</span></button>
  <h2>1/<%= cards.length %></h2>
  <button class="right-arrow"><span>&#x2192;</span></button>
</div>

<div id="delete-error-message" style="display:none; color: red;"></div>

<script src="/scripts/edit-card.js"></script>
<div id="custom-confirm" class="confirm-modal" style="display: none;">
  <div class="confirm-content">
    <p id="confirm-message">Are you sure?</p>
    <div class="confirm-buttons">
      <button id="confirm-yes">Yes</button>
      <button id="confirm-no">No</button>
    </div>
  </div>
</div>
<% } else { %>
  <div class="no-cards-message">
    <h2>No cards to display.</h2>
  </div>
<% } %>
</div>