<div class="hero-title">
    <h2>Add Card</h2>
</div>

<!-- Error message container -->
<div id="error-message" style="color: red; margin-bottom: 1em;"></div>

<form class="card-form">
    <div class="inner-form">
        <div class="inner-inner-form">
            <label for="front">Front View</label>
            <textarea id="front" name="front"></textarea>
        </div>

        <div class="inner-inner-form">
            <label for="back">Back View</label>
            <textarea id="back" name="back"></textarea>
        </div>
    </div>

    <button type="submit">Add Card</button>
</form>

<script src="/scripts/addcard.js"></script>
