<div class="hero-title">
  <h2> Flash Card App </h2>
</div>
<div id="card-container"> 
  <div id="card">
    <div class="back">
      Back of the card
    </div>
    <div class="front">
      Front of the card
    </div>
  </div> 
  </div>
  <div class="arrows">
      <button id="left-arrow">&#x2190;</button>
      <h2>1/10</h2>
      <button id="right-arrow">&#x2192;</button>
    </div>
  </div>
  <script src="/scripts/home.js"> </script>