<div class="hero-title">
  <h2>Flash Card App</h2>
</div>

<div class="card-container">
  <% cards.forEach(function(card) { %>
    <div class="card">
      <div class="front">
        <%= card.front_text %>
      </div>
      <div class="back">
        <%= card.back_text %>
      </div>
    </div>
  <% }); %>
</div>

<div class="arrows">
  <button class="left-arrow"><span>&#x2190;</span></button>
  <h2>1/<%= cards.length %></h2>
  <button class="right-arrow"><span>&#x2192;</span></button>
</div>

<script src="/scripts/home.js"></script>
