<div class="hero-title">
  <h2>Flash Card App</h2>
</div>

<% if (cards.length > 0) { %>
  <!-- Normal card UI goes here -->

<div class="card-container">
  <% cards.forEach(function(card) { %>
    <div class="card">
      <div class="front">
        <h2> <%= card.front_text %> </h2>
      </div>
      <div class="back">
        <h2> <%= card.back_text %> </h2>
      </div>
    </div>
  <% }); %>
</div>

<div class="arrows">
  <button class="left-arrow"><span>&#x2190;</span></button>
  <h2>1/<%= cards.length %></h2>
  <button class="right-arrow"><span>&#x2192;</span></button>
</div>
<% } else { %>
  <div class="no-cards-message">
    <h2>No cards to display.</h2>
  </div>
<% } %>
<script src="/scripts/home.js"></script>
